.bookContainer {
    position: relative;
    overflow: hidden;
}

.imgContainer {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.imgContainer img {
    transition: transform 0.3s ease;
    border-radius: 8px;
}

.imgContainer:hover img {
    transform: scale(1.05);

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transition: opacity 0.3s ease;
}

.imgContainer:hover .overlay {
    opacity: 1;

}

.bookInfo {
    text-align: center;
    color: #333;

}

.viewButton {
    width: 226.91px;
    height: 44.15px;
    margin-bottom: 10px;

    background-color: #393280;

    color: white;
    border: none;
    border-radius: 4px;
    opacity: 0;

    transition: opacity 0.3s ease;
}

.addButton {
    width: 226.91px;
    height: 44.15px;
    background-color: #ED553B;

    color: white;
    border: none;
    border-radius: 4px;
    opacity: 0;

    transition: opacity 0.3s ease;
}

.imgContainer:hover .viewButton,
.imgContainer:hover .addButton {
    opacity: 1;

}