.booksSection {
    background-color: #FCECEC;
}







.link {

    color: #ED553B;
    font-weight: 700;
    text-decoration: none;
    float: right;
    right: 40px;
    bottom: 12px;
    position: relative;
}

@media (max-width: 768px) {
    .link {
        bottom: 2px;
        margin-top: 20px;

    }
}


@media (max-width: 480px) {
    .link {
        bottom: 30px;

    }
}